attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
boto3==1.6.1
botocore==1.9.1
certifi==2018.1.18
chardet==3.0.4
constantly==15.1.0
docutils==0.14
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
python-dateutil==2.6.1
requests==2.20.0
s3transfer==0.1.13
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
urllib3==1.23
zope.interface==4.4.3
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
beautifulsoup4==4.6.0
boto3==1.6.1
botocore==1.9.1
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
constantly==15.1.0
docutils==0.14
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
lxml==4.1.1
python-dateutil==2.6.1
s3transfer==0.1.13
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
urllib3==1.24.2
zope.interface==4.4.3
